*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-o-box-sizing:border-box;
  	-ms-box-sizing:border-box;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
	color:#666f80;
    text-transform:initial;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    background: #e2e3e6;
}

a,a:active {
	display:inline-block;
	text-decoration:none;
	color: #000000;
	font-size:1rem;
	padding:.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

#search-section{
    background-color: #fff;
}

#productlist .text-dark{
    font-weight: bold;
}

.checked {
    color: orange;
  }