.btn{
    background-color: rgb(255, 153, 0);
    border: none;
    color: #ffffff;
    font-weight: bold;
}
.checked {
    color: orange;
}
.missmatch{
    color: #ff0000;
}
.missmatch2{
    color: #00ff62;
}